# Node modules
node_modules
npm-debug.log
yarn-error.log

# 빌드 결과물
.next
out

# 환경 설정 파일
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker 관련 파일
Dockerfile
docker-compose.yml

# VCS
.git
.gitignore
.hg
.hgignore

# IDE 설정 파일
.idea
.vscode

# 시스템 파일
.DS_Store
Thumbs.db
